<li>
	<%= comment.body %><strong> --<%= comment.name %></strong>
	<small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>

	<%= form_for [comment, Comment.new] do |f| %>
	<%= f.text_field :name, required: true, placeholder: "Identify By" %><br/>
	<%= f.text_area :body, required: true, placeholder: "Add a reply" %><br/>
	<%= f.submit "Reply" %>
	<% end %>

	<ul>
		<%= render partial: 'comments/comment', collection: comment.comments %>
	</ul>
</li>