<div class="category-post">
	<div class="description">
		<h1>Everything you need to know for Dynasty Formats!</h1>
		<p>Where to even begin... Need rankings? Got it. Need Player values? Got it. Need help with breaking off your bromance with aging stars? Got it. Don't worry, not all break-ups are this hard</p>
	</div>
	<div class="posts">
		<% @posts.each do |post| %>
		<div class="post">
			<a href="<%= post_path(post.id) %>" style="text-decoration: none">
				<h1><%= "#{post.title}" %></h1>
			</a>
			<a href="<%= post_path(post.id) %>">
				<%= image_tag("#{post.hero_image}") %>
			</a>
			<p> <%= "#{post.summary}" %>
		</div>
		<% end %>
	</div>
</div>