<div class="category-post">
	<div class="description">
		<h1>Who's Hot... Who's Not...</h1>
		<p>These may not be the flashiest plays on the market.. But hey, you're here looking for some desperate help. <strong>NOTICE:</strong> these are not intended to be long term players (usually). Proceed with caution.</p>
	</div>
	<div class="posts">
		<% @posts.each do |post| %>
		<div class="post">
			<a href="<%= post_path(post.id) %>" style="text-decoration: none">
				<h1><%= "#{post.title}" %></h1>
			</a>
			<a href="<%= post_path(post.id) %>">
				<%= image_tag("#{post.hero_image}") %>
			</a>
			<p> <%= "#{post.summary}" %>
		</div>
		<% end %>
	</div>
</div>