<div class="show-recent-post">
	<div id="screen">
		<div class="quick-view">
			<% @post.each do |post| %>
			<div class="post-information">
				<%= image_tag("#{post.hero_image}") %>
				<a href="<%= post_path(post.id) %>">
					<h2><%= "#{post.title}" %></h2>
				</a>
				<p>Written By: <%= "#{post.author.author}" %><p>
				<p> <%= "#{post.summary}" %><p>
			<% end %>
			</div>
		</div>
	</div>
</div>

<div class="category-field">
	<div class="category-about">
		<a href="/weekly" style="text-decoration: none">
			<h1>Weekly Writeup</h1>
		</a>
		<p>We pride ourself in having <strong>new</strong> content written weekly! Looking for a weekly stream? Needing to drop dead weight? These posts will cover this and more with up to date fantasy baseball news!</p>
	</div>
</div>
<div class="category-field">
	<div class="category-about">
		<a href="/prospects" style="text-decoration: none">
			<h1>Prospects</h1>
		</a>
		<p>Our drive is to give you more content than necessary on prospects you possibly have never even heard of! Anything from a prospect breakdown to our featured articles of top fantasy prospects and our projected ETA.</p>
	</div>
</div>
<div class="category-field">
	<div class="category-about">
		<a href="/hot-and-not" style="text-decoration: none">
			<h1>Who's Hot, Who's Not</h1>
		</a>
		<p>These may not be the flashiest plays on the market.. But hey, you're here looking for some desperate help. <strong>NOTICE:</strong> these are not intended to be long term players (usually). Proceed with caution.</p>
	</div>
</div>
<div class="category-field">
	<div class="category-about">
		<a href="dynasty" style="text-decoration: none">
			<h1>Everything Dynasty</h1>
		</a>
		<p>Where to even begin... Need rankings? Got it. Need Player values? Got it. Need help with breaking off your bromance with aging stars? Got it. Don't worry, not all break-ups are this hard</p>
	</div>
</div>