<div class="show-recent-post">
	<div id="screen">
		<div class="quick-view">
			<% @post.each do |post| %>
			<%= image_tag("#{post.hero_image}") %>
			<div class="post-information">
				<a href="<%= post_path(post.id) %>">
					<h2><%= "#{post.title}" %></h2>
				</a>
				<p>Written By: <%= "#{post.author.author}" %><p>
				<p> <%= "#{post.summary}" %><p>
			<% end %>
			</div>
		</div>
	</div>
</div>

<div class="category-field">
	<div class="category-about">
		<a href="/weekly" style="text-decoration: none">
			<h1>Weekly Writeup</h1>
		</a>
		<p>This category is a write up for this weeks content.....</p>
	</div>
</div>
<div class="category-field">
	<div class="category-about">
		<a href="/prospects" style="text-decoration: none">
			<h1>Prospects</h1>
		</a>
		<p>This category is a write up for this weeks content.....</p>
	</div>
</div>
<div class="category-field">
	<div class="category-about">
		<a href="/hot-and-not" style="text-decoration: none">
			<h1>Who's Hot, Who's Not</h1>
		</a>
		<p>This category is a write up for this weeks content.....</p>
	</div>
</div>
<div class="category-field">
	<div class="category-about">
		<a href="dynasty" style="text-decoration: none">
			<h1>Everything Dynasty</h1>
		</a>
		<p>This category is a write up for this weeks content.....</p>
	</div>
</div>