<div class="category-post">
	<div class="description">
		<h1>Prospects, Prospects, and more Prospects!</h1>
		<p>Our drive is to give you more content than necessary on prospects you possibly have never even heard of! Anything from a prospect breakdown to our featured articles of top fantasy prospects and our projected ETA.</p>
	</div>
	<div class="posts">
		<% @posts.each do |post| %>
		<div class="post">
			<a href="<%= post_path(post.id) %>" style="text-decoration: none">
				<h1><%= "#{post.title}" %></h1>
			</a>
			<a href="<%= post_path(post.id) %>">
				<%= image_tag("#{post.hero_image}") %>
			</a>
			<p> <%= "#{post.summary}" %>
		</div>
		<% end %>
	</div>
</div>